<div *ngIf="!!messageError ; else content"
     class="alert">
  {{messageError}}
</div>
<ng-template #content>
  <div class="content">
    <app-liste-course [categories]="categories"
                      [itemsCourse]="itemsCourse"
                      (addQuantityItemCourse)="addQuantityItemCourse($event)"
                      (lessQuantityItemCourse)="lessQuantityItemCourse($event)"
                      (deleteItemCourse)="deleteItemCourse($event)"></app-liste-course>
  </div>

  <div class="button-fixe">
    <button mat-fab class="load-button" color="warn" (click)="loadInListCourse()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <br>
    <button mat-fab color="primary" (click)="openDialogAddProduitInList()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>
