<mat-drawer-container autosize>
  <mat-drawer #drawer class="side-nav" mode="side">
    <button mat-icon-button routerLink="">
      <mat-icon>list</mat-icon>
      Liste
    </button>
    <br/>
    <button mat-icon-button routerLink="gestion">
      <mat-icon>settings</mat-icon>
      Gestion
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="name-application">Ma liste de course</span>
    </mat-toolbar>

    <div class="router">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
