.name-application {
  margin-left: 2%;
}

.side-nav {
  padding: 20px;
  position: fixed;
  width: 190px;
}

.toolbar {
  display: flex;
  position: fixed;
  z-index: 2;
}

.router {
  padding-top: 4rem;
}



