<h1 mat-dialog-title>Gestion des produits et catégorie</h1>
<div *ngIf="!!messageError ; else content"
     class="alert">
  {{messageError}}
</div>
<ng-template #content>
  <div class="content">
    <app-search-autocomplete
      [listOption]="listNameProduit"
      (optionValide)="listOption= $event">
    </app-search-autocomplete>
    <app-list-gestion-categorie-produit
      [categories]="categories | categoriesFiltreByNameProduit: listOption"
      (deleteCategorie)="deleteCategorie($event)"
      (editCategorie)="editCategorie($event)"
      (deleteProduit)="deleteProduit($event)"
      (editProduit)="editProduit($event)">
    </app-list-gestion-categorie-produit>

  </div>
  <div class="create-button">
    <button mat-fab color="primary" [matMenuTriggerFor]="aboveMenu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="openDialogCreateCategorie()">Créer une catégorie</button>
      <button mat-menu-item (click)="openDialogCreateProduit()">Créer un produit</button>
    </mat-menu>

  </div>
</ng-template>
