.tree-invisible {
  display: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}



.node {
  background-color: lightsteelblue;
}

.delete-icon {
  position: absolute;
  right: 0;
  background-color: indianred;
}

.edit-icon {
  position: absolute;
  right: 3em;
}

.expand-icon {
  text-align: right;
  margin-bottom: 3%;
}
