<ng-container *ngFor="let item of listeCourseDetails">
  <h2 class="title-category">{{item.nomCategorie}}</h2>
  <mat-grid-list cols="5" rowHeight="50px">
    <ng-container *ngFor="let produit of item.produits">
      <mat-grid-tile> {{produit.nomProduit}} </mat-grid-tile>
      <mat-grid-tile>{{produit.quantite}} </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="addQuantityItemCourse.emit(produit)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="lessQuantityItemCourse.emit(produit)" [disabled]="produit.quantite<2">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="delete-icon" (click)="deleteItemCourse.emit(produit.idItemCourse)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</ng-container>
